{% extends 'base.html' %}
{% block title %}
<title>password change</title>
{% endblock title %}

{% block content %}
{% include 'nav.html' %}
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card mb-4">
        <div class="card-body">
          <h2>Change password</h2>
          <form method="post" novalidate>
            {% csrf_token %}
            <table>
            {{ form.as_table }}
            </table>
            <input type="submit" class="btn btn-primary" value="Change password">
          </form>
        </div>
 
      </div>
    </div>
  </div>
{% endblock %}
