{% extends 'base.html' %}

{% block content %}
<h2>Password changed with success!</h2>
<p>You may now <a href="{% url 'login' %}">log in</a> again.</p>
<p class="text-center">You will redirected login page in 5 seconds</p>
<h6 class="text-center" id="count">5</h6>
<script> 
    time=5;
    var x = setInterval(function() {
        time-=1;
        $('#count').text(time);
        if (time  <1) {
            clearInterval(x);
            window.location.replace({% url 'login' %})
        }
    }, 1000);
</script> 
{% endblock %}